version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  build:
    executor: node/default
    steps:
      - checkout
      - node/install-packages:
          pkg-manager: npm
          flags: '--legacy-peer-deps'
      - run:
          command: npm run test
          name: Run tests
workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main