version: 2.1

orbs:
  node: circleci/node@5.0.2

jobs:
  build:
    executor: node/default
    steps:
      - checkout
      - restore_cache:
          keys:
            - v1-deps-{{ checksum "package-lock.json" }}
            - v1-deps-
      - node/install-packages:
          pkg-manager: npm
      - run:
          command: npm run test
          name: Run tests
workflows:
  version: 2
  build:
    jobs:
      - build:
          filters:
            branches:
              only:
                - main